# Dependencias
node_modules/

# Variables de entorno
.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

# Archivos temporales
*.tmp
*.temp
*.swp
*.swo

# Archivos de bloqueo
package-lock.json
yarn.lock

# Archivos de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace